<script setup lang="ts">
import { RouterLink, RouterView } from 'vue-router'
</script>

<template>
  <header>
    <div class="bg-yellow-300/20 p-2 text-center">
      <nav>
        <RouterLink to="/">Home</RouterLink>
      </nav>

      <h1 class="text-4xl font-medium text-black/60 my-5">
        XCats
      </h1>
    </div>
  </header>

  <main class="my-10">
    <RouterView />
  </main>
</template>

<style>
@import '@/assets/base.css';
</style>
