<script lang="ts">
interface IFact {
   fact: string, 
   length: number
}
</script>

<script setup lang="ts">
import { computed, onMounted, ref, type Ref } from 'vue';
import AFact from "@/components/AFact.vue"

const api = 'https://catfact.ninja/facts?limit=9'
const facts: Ref<IFact[]> = ref([])
const error = ref(null)

// HOOKS //
onMounted(async () => {
  await fetch(api)
    .then(response => response.json())
    .then(json => {
      const { data } = json
      facts.value = data
    })
    .catch(err => {
      console.log(err)
      error.value = err.message
    })
})

const sortedFacts = computed(() => {
  const tempArr = facts
  return tempArr.value.sort((a, b) => a.fact.localeCompare(b.fact))
})
</script>

<template>
  <main class="w-full max-w-4xl mx-auto">

    <div class=" grid grid-cols-1 md:grid-cols-3 gap-2">
      <div
        v-for="obj in sortedFacts" 
        :key="obj.id"
        class=""
      >
        <AFact :data="obj"></AFact>
      </div>
    </div>
  </main>
</template>
