<template>
  <div class="bg-gray-500/20 p-2 rounded h-full flex flex-col">
    <main class="flex-grow text-xl text-center mb-5 p-5">
      <div class="">
        {{ props.data.fact }}
      </div>
    </main>

    <footer class="text-black/60 text-right">
      length: {{ props.data.length }}
    </footer>

  </div>
</template>

<script setup lang="ts">
const props = defineProps<{
  data: {
    fact: string,
    length: number
  }
}>();
</script>
